# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Scheduler1.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\aesok\Desktop\C# Projects\Scheduler1\.idea\.idea.Scheduler1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
